body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100% !important;
}
.tom{
    color: black !important;
    padding: 20px;
    font-family:'Courier New';

}
.message {
    COLOR: WHITE;
    width: 95%;
    height: 272px;
    resize: none;
    border-color: black;
    BACKGROUND-COLOR: #08050587;
    border: 1px solid yellow;
}
.addphonenum {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 160px;
}
.tabledes th{
   color:whitesmoke;
}
.tabledes tr {
    color:black;
    border:initial;

}
.tabledes td {

    color: whitesmoke;
   /* border:groove;*/
    font-family:monospace;
    font-size:16px;
    font-weight:400;
}
.divdes td {
    color: whitesmoke;
    /* border:groove;*/
    font-family: monospace;
    font-weight: 400;
    font-size:16px;
}
.divdes tr {
    color: white;
    border: initial;
}


.divdes th {
    color: whitesmoke;
}
draftdes td {
    color: whitesmoke;
    /* border:groove;*/
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.draftdes tr {
    color: white;
    
    border: initial;
}
.draftdes td {
    font-family: monospace;
    font-size:16px;
}


.draftdes th {
    font-size: 20px;
    color: whitesmoke;
}

.phonebookdes td {
    color: whitesmoke;
    /* border:groove;*/
    font-family: monospace;
    font-weight: 400;
    font-size: 16px;
}

.phonebookdes tr {
    color: white;
    border: initial;
}

}

.phonebookdes th {
    color: whitesmoke;
}

.userlistdes td {
    color: whitesmoke;
    /* border:groove;*/
    font-family: monospace;
    font-weight: 400;
    font-size: 16px;
}

.userlistdes tr {
    color: white;
    border: initial;
}

}

.userlistdes th {
    color: whitesmoke;
}
img {
  /*  border-radius: 50%;*/
  vertical-align:middle;
}
video{
    width: 100%;
}
.adminpic {
      border-radius: 50%;
    vertical-align: middle;
}
.positionclyde {
    color: #f31d1d;
    text-align: center;
    font-size: 13px;
    font-family: cursive;
}
.divrow {
    margin-top: -13px;
    border: 1px solid #CAC280;
    background-color: #1d1e22ed;
    width: 910px;
   /* padding: 62px ;*/
    padding-top: 50px;
    border-radius: 30px;
    padding-left: 157px;
    padding-right: 81px;
    height: auto;
}
.officerow {
    margin-top: -8px;
    border: 1px solid #CAC280;
    background-color: #1d1e22ed;
    width: 1000px;
    padding: 105px;
    padding-top: 50px;
    border-radius: 30px;
    padding-left: 177px;
    height: auto;
}
.phonebookrow {
    margin-top: -8px;
    border: 1px solid #CAC280;
    background-color: #1d1e22ed;
    width: 1330px;
    padding: 105px;
    padding-top: 50px;
    border-radius: 30px;
    padding-left: 177px;
    height: auto;
}
.draftsrow {
    background-color: #1d1e22ed;
    width: 1192px;
    padding: 168px;
    padding-left: -18px;
    padding-right: 147px;
    border-radius: 37px;
    MARGIN-RIGHT: -19PX;
    padding-top: 30px;
}

.userlistrow {
    margin-top: -8px;
    border: 1px solid #CAC280;
    background-color: #1d1e22ed;
    width: 1363px;
    padding: 154px;
    padding-top: 50px;
    border-radius: 30px;
    padding-left: 102px;
    height: auto;
    padding-right: 148px;
}
.container.userto {
    margin-left: -237px;
}
.tom-validation{
    color:red;
}

#searchTable tr {
    display: grid;
    grid-template-columns: auto auto auto auto;
  
    background-color: #171b1e;
    padding: 10px;
}

#draftlisttable thead tr th:first-child, #draftlisttable tbody tr td:first-child, #draftlisttable tfoot tr th:first-child, #searchTable thead tr th:first-child {
    display: none;
}
#draftlisttable tr td {
    border-bottom: 1px solid #c9c37c;
    
}
.dataTables_wrapper div.dataTables_info {
    color: red;
}
.dataTables_wrapper div.dataTables_length .ui.selection.dropdown{
    color:red;
}
.dataTables_length label{
    color:red;
}
#draftlisttable th {
    color: black;
    background-color: #56575B;
}
#draftlisttable td {
    font-family: monospace;
    font-size: 16px;
}
.table.dataTable.table thead th.sorting:after{
    color:yellow;
}
.ui.pagination.menu .item {
    background-color: darkgray;
    color: black;
}
.ui.pagination.menu .active.item {
    background-color: rgb(0 0 0 / 82%);
    color: rgba(0,0,0,.95);
}
#searchTable th {
    background-color: #56575B;
}

#searchTable2 th {
    background-color: #56575B;
}
.ui.pagination.menu {
    background-color: #56575B;
   
}
#draftlisttable tfoot th {
    color: black;
    font-weight: bolder;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .hideThis{
        display:none;
    }

#searchTable2 tr {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #171b1e;
    padding: 10px; 
}

#searchTable2 thead tr th:nth-child(4), #searchTable2 thead tr th:nth-child(5), #searchTable2 thead tr th:nth-child(6) {
    display: none;
}

#draftlisttable2 thead tr th:first-child, #draftlisttable2 tbody tr td:first-child, #draftlisttable2 tfoot tr th:first-child, #searchTable2 thead tr th:first-child {
    display: none;
}

#draftlisttable2 tr td {
    border-bottom: 1px solid #c9c37c;
}

.dataTables_wrapper div.dataTables_info {
    color: red;
}

.dataTables_wrapper div.dataTables_length .ui.selection.dropdown {
    color: red;
}

.dataTables_length label {
    color: red;
}

#draftlisttable2 th {
    color: black;
    background-color: #56575B;
}

#draftlisttable2 td {
    font-family: monospace;
    font-size: 16px;
}
.scrolllamg .chosen-container-multi .chosen-choices {
        overflow-y: auto;
    max-height: 100px;
}
.inputmultiple .select2-container--default.select2-container--focus .select2-selection--multiple {
    overflow-y: auto;
    max-height: 100px;
    background-color: black;
}
.select2-results__option{
    color: red;
}
.select2-container .select2-search--inline .select2-search__field{
    color:white;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: #c33f3f !important;
}
.search-choice-close{
    background-color:red!important;
}
.messagelabel{
    margin-left:-556px;
    color:black;
}
.officenamelabel{
    /*margin-left:-266PX;
    color:black;*/
}

.chosen-container-single .chosen-single{
    height: 40px !important;
}
.chosen-container-single .chosen-search input[type="text"]{
    color:white !important;
}